p {
  padding: 12px;
  border: 1px solid #000;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;


  &:hover {
    background-color: #f0f0f0;
  }
}


.red {
  color: red;
}

#id {
  color: blue;

  .red {
    color: green;
  }
}