PDF Link: https://d.pr/f/Ks2N1D<br />
https://github.com/florent1933/CY-tech-2025

<app-l2></app-l2>

<app-l1></app-l1>

<app-tp2-parent></app-tp2-parent>

<!--

My button
<app-button-yt
  (onClick)="alert($event)"
  [text]="'Coucou ' + firstName"
></app-button-yt>
<app-button-yt text="Hello"></app-button-yt>

<h1>
  Hello {{ firstName | uppercase }},
  <br />
  @if (title > 2030) {
  <b>You live inn the futur 🚀</b>
  } @else {
  {{ title }}
  }
</h1>

<input type="text" [(ngModel)]="firstName" />

<h3>
  Years<br />
  Actual year: {{ title }}
  <select [(ngModel)]="title">
    @for (year of years; track $index) {
    <option [value]="year">{{ year }}</option>
    }
  </select>
  <ul>
    @for (year of years; track $index) {
    <button (click)="updateYear(year)">{{ year }}</button
    ><br />
    }
  </ul>
  {{ years | json }}
</h3>
<h3>From {{ firstName }} {{ lastName }}</h3>
<h5>{{ hello }}</h5>
-->
